{% set title='animal profile' %}

{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/edit_page.css') }}">
{% endblock %}

{% block content %}
<div>
    <div id="name_div">
        <p>Name: <span id="name">{{ animal.name }}</span></p>
        <button id="edit-name">Edit Name</button>
    </div>
    <div id="age_div">
        <p>Age: <span id="age">{{ animal.age }}</span></p>
        <button id="edit-age">Edit Age</button>
    </div>
    <div id="photo_div">
        <p><img src="/animals/{{animal.id}}/photo" alt="{{ animal.name }}" width="100"></p>
    </div>
    <div id="photo_upload_div">
        <form id="photo_upload_form" enctype="multipart/form-data">
            <input type="file" name="photo" id="photo">
            <button type="submit" id="photo_submit">Delete Photo</button>
        </form>
    </div>
    <div id="species_div">
        <p>Species: <span id="species">{{ animal.species }}</span></p>
        <button id="edit-species">Edit Species</button>
    </div>
</div>
<div>
    <label for="description">Description: </label><br>
    <div id="description" style="white-space: pre-wrap" contenteditable="true">{{ animal.description }}</div>
    <button id="edit-description">Update Description</button>
</div>
{% endblock %}

{% block scripts %}
    <script>
        const animalId = "{{ animal.id }}";
    </script>
    <script src="{{ url_for('static', path='js/animal/edit_page.js') }}"></script>
{% endblock %}
