<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ animal.name }}</title>
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="../../static/css/animal_profile.css">
</head>
<body>
    <div class="profile">
        <header class="header-inline">
            <nav>
                <a href="/animals" class="link"><< ANIMALS</a>
            </nav>
        </header>
        <h1>{{ animal.name }}</h1>
        <div class="photo">
            <img src="/animals/{{ animal.id }}/photo" alt="{{ animal.name }}" width="300">
        </div>
        <div class="info">
            <span id="species">Species: {{ animal.species }}</span>
            <span id="age">Age: {{ animal.age }}</span>
        </div>
        <div class="description">
            <h3>Description</h3><span class="description-text">{{ animal.description }}</span>
        </div>
        {% if user and user.is_staff %}
        <div class="animal-profile-staff-section">
            <button class="staff-btn edit-btn" id="edit-animal-profile">Edit</button>
            {% if not animal.hidden %}
            <button class="staff-btn hide-btn" id="hide-animal">Hide</button>
            {% else %}
            <button class="staff-btn hide-btn" id="hide-animal">Show</button>
            {% endif %}
            <button class="staff-btn del-btn" id="delete-animal">Delete</button>
        </div>
        <div>
            <button class="staff-btn create-request-btn" id="create-request">Create Vet Request</button>
        </div>
        {% endif %}
        {% if user and user.is_vet %}
            <div class="animal-profile-vet-section">
                <button class="vet-btn history-btn" id="create-history">Create Medical History</button>
                <button class="vet-btn treatment-btn" id="add-treatment">Prescribe Treatment</button>
                <button class="vet-btn vaccination-btn" id="add-vaccination">Schedule vaccination</button>
            </div>
        {% endif %}
    </div>
</body>

{% if user %}
{% if user.is_staff %}
<script>
    const animalId = {{ animal.id }};

    const editBtn = document.getElementById('edit-animal-profile');
    const hideBtn = document.getElementById('hide-animal');
    const deleteBtn = document.getElementById('delete-animal');
    const createRequestBtn = document.getElementById('create-request');

    editBtn.addEventListener('click', () => {
        window.location.href = `/staff/animals/${animalId}/edit`;
    });

    createRequestBtn.addEventListener('click', () => {
        window.location.href = `/staff/new_request/${animalId}`;
    });

    hideBtn.addEventListener('click', () => {
        const hidden = {{ animal.hidden|string|lower }};
        fetch(`/staff/animals/${animalId}/hide?hidden=${!hidden}`, {
            method: 'PATCH',
        })
            .then(response => {
                if (response.ok) {
                    window.location.reload();
                } else {
                    alert('Failed to hide the animal');
                }
            });
    });

    deleteBtn.addEventListener('click', () => {
        // ask for confirmation
        if (confirm('Are you sure you want to delete this animal?')) {
            fetch(`/staff/animals/${animalId}`, {
                method: 'DELETE',
            })
                .then(response => {
                    if (response.ok) {
                        window.location.href = '/animals';
                    } else {
                        alert('Failed to delete the animal');
                    }
                });
        }
    });
</script>
{% endif %}

{% if user.is_vet %}
<script>
    const animalId = {{ animal.id }};
    const historyBtn = document.getElementById('create-history');
    const treatmentBtn = document.getElementById('add-treatment');
    const vaccinationBtn = document.getElementById('add-vaccination');

    historyBtn.addEventListener('click', () => {
        window.location.href = `/vet/new_medical_history/${animalId}`;
    });

    treatmentBtn.addEventListener('click', () => {
        window.location.href = `/vet/new_treatment/${animalId}`;
    });

    vaccinationBtn.addEventListener('click', () => {
        window.location.href = `/vet/new_vaccination/${animalId}`;
    });
</script>

{% endif %}
{% endif %}
</html>