{% set title='animal profile' %}
{% extends 'base.html' %}
{% block title %}
    {{ animal.name }}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/animal_profile.css') }}">
{% endblock %}

{% block content %}
    <div class="profile">
        <h1>{{ animal.name }}</h1>
        <div class="photo">
            <img src="/animals/{{ animal.id }}/photo" alt="{{ animal.name }}" width="300">
        </div>
        <div class="info">
            <span id="species">Species: {{ animal.species }}</span>
            <span id="age">Age: {{ animal.age }}</span>
        </div>
        <div class="description">
            <h3>Description</h3>
            <span class="description-text">{{ animal.description }}</span>
        </div>
        {% if user and user.is_staff %}
        <div class="animal-profile-staff-section">
            <button class="staff-btn edit-btn" id="edit-animal-profile">Edit</button>
            {% if not animal.hidden %}
            <button class="staff-btn hide-btn" id="hide-animal">Hide</button>
            {% else %}
            <button class="staff-btn hide-btn" id="hide-animal">Show</button>
            {% endif %}
            <button class="staff-btn del-btn" id="delete-animal">Delete</button>
        </div>
        <div>
            <button class="staff-btn create-request-btn" id="create-request">Create Vet Request</button>
        </div>
        {% endif %}

        {% if user and user.is_volunteer %}
        <div class="animal-profile-volunteer-section">
            <button class="staff-btn rsv-btn" id="reserve-animal">Reserve walk</button>
        </div>
        {% endif %}
        {% if user and user.is_vet %}
            <div class="animal-profile-vet-section">
                <button class="vet-btn show-history-btn" id="show-history">Show Medical History</button>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    {% if user %}
        <script>
            const animalId = "{{ animal.id }}";
        </script>
        {% if user.is_staff %}
            <script src="{{ url_for('static', path='js/animal/animal_profile_staff.js') }}"></script>
        {% endif %}
        {% if user.is_volunteer %}
            <script src="{{ url_for('static', path='js/animal/animal_profile_volunteer.js') }}"></script>
        {% endif %}
        {% if user.is_vet %}
            <script src="{{ url_for('static', path='js/animal/animal_profile_vet.js') }}"></script>
        {% endif %}
    {% endif %}
{% endblock %}
