<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vet Request</title>
    <link rel="stylesheet" href="../../static/css/horizontal_forms.css">
    <link rel="stylesheet" href="../../static/css/vertical_forms.css">
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="../../static/css/animal_profile.css">
</head>
<body>
    <h1>Veterinarian Request For Animal: {{ animal.name }}</h1>
    <form method="post" action="/staff/animals/{{ animal.id }}/vet_request">
        <label for="description">Description of the issue:</label><br>
        <textarea id="description" name="description" rows="4" cols="50" required></textarea><br><br>
        <button type="submit">Create</button>
        <a href="/animals/{{ animal.id }}/profile" class="button">Back</a>
    </form>
</body>
</html>
