{% set title='volunteer applications' %}
{% extends 'base.html' %}
{% block styles %}
	    <link rel="stylesheet" href="{{ url_for('static', path='css/application_card.css') }}">
{% endblock %}
{% block content %}
    {% if applications | length == 0 %}
    <p>No volunteer applications found.</p>
    {% else %}
    <div class="application-list">
        {% for application in applications %}
        <div id="application-{{ application.id }}" class="volunteer-application">
            <h2 class="application-name">{{ application.user.name }}</h2>
            <p class="application-message">{{ application.message }}</p>
            <p class="application-date">{{ application.created_at }}</p>
            <p id="status-{{ application.id }}" class="application-status">Status: {{ application.status.value | capitalize }}</p>
            {% if application.status.value == 'pending' %}
            <div class="application-actions">
                <button id="accepted-{{ application.id }}" class="approve-btn">Approve</button>
                <button id="rejected-{{ application.id }}" class="reject-btn">Reject</button>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if pages > 1 %}
        <div>
            {% if page > 1 %}
            <a href="/staff/volunteer_applications?page={{ page - 1 }}" id="prev_page">Prev</a>
            {% endif %}
            <span>Page {{ page }} of {{ pages }}</span>
            {% if page < pages %}
            <a href="/staff/volunteer_applications?page={{ page + 1 }}" id="next_page">Next</a>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}

{% block scripts %}
<script>
    document.querySelectorAll('button').forEach(button => {
        button.addEventListener('click', async function() {
            const [action, applicationId] = this.id.split('-');
            const response = await fetch(`/staff/volunteer_applications/${applicationId}?status=${action}`, {
                method: 'PATCH'
            });
            if (response.ok) {
                const status = document.getElementById(`status-${applicationId}`);
                const actionCapitalized = action.charAt(0).toUpperCase() + action.slice(1);
                status.textContent = `Status: ${actionCapitalized}`;
                // remove buttons
                document.getElementById(`accepted-${applicationId}`).remove();
                document.getElementById(`rejected-${applicationId}`).remove();
            }
        });
    });
</script>
<script>
    // keyboard arrow navigation
    document.addEventListener('keydown', function (event) {
        if (event.key === 'ArrowLeft' && document.getElementById('prev_page')) {
            document.getElementById('prev_page').click();
        } else if (event.key === 'ArrowRight' && document.getElementById('next_page')) {
            document.getElementById('next_page').click();
        }
    });
</script>
{% endblock %}