.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    min-width: 350px;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    span {
        margin: 0 30px;
    }
}

.header-inline {
    display: inline;
    width: 100%;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 2%;
    margin: 20px;
}

.description-text {
    text-align: justify;
    white-space: pre-wrap;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    span {
        margin-bottom: 10px;
    }
}

.animal-profile-staff-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.staff-btn {
    width: 100px;
}

.edit-btn {
    background-color: #00a9e0;
}

.hide-btn {
    background-color: olive;
}

.del-btn {
    background-color: #e4002b;
}

.create-request-btn {
    background-color: cadetblue;
    min-width: 300px;
}

.staff-btn:hover {
    transition: background-color 0.2s;
    background-color: dimgray;
}

.rsv-btn, .show-history-btn{
    background-color: #00a9e0;
    width: 300px;
}