:root {
    /*--primary-color: #00a9e0;*/
    /*--secondary-color: #e4002b;*/
    /*--light-color: #f0f0f0;*/
    /*--dark-color: #333333;*/
    /*--white-color: #ffffff;*/

    --fit-lightblue: #00a9e0;
    --fit-blue: #1676d0;
    --fit-red: #e4002b;
    --fit-background: #f0f0f0;
    --fit-darker-background: #f3f7f6;
    --fit-dark-background: #424242;
    --fit-text: #125ea6;
    --fit-light-text: #6a7a86;
    --fit-light-gray: #6a7a86;
    --fit-gray: #424242;
    --fit-black: #000;
    --fit-white: #fff;
}

body {
    font-family: sans-serif;
    background-color: var(--fit-background);
    color: var(--fit-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px 20px;
}

h1 {
    color: var(--fit-lightblue);
}

p {
    font-size: 1.2em;
}

span {
    font-size: 1.2em;
}

button {
    background-color: var(--fit-lightblue);
    color: var(--fit-white);
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    flex: 1;
}

button:hover {
    background-color: var(--fit-blue);
    transition: background-color 0.4s;
}

.link {
    background-color: var(--fit-light-gray);
    color: var(--fit-white);
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.link:hover {
    background-color: var(--fit-gray);
    transition: background-color 0.4s;
}

.content-link {
    min-width: 200px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    min-width: 600px;
    max-width: 1200px;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.logout {
    background-color: var(--fit-red);
}

.logout:hover {
    background-color: #bb0022;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="file"],
textarea {
    border: 1px solid #424242;
    width: 80%;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
textarea:focus {
    border-color: #00a9e0;
    outline: none;
}

input[type="file"] {
    font-size: 1em;
}

textarea {
    min-height: 60px;
}

select {
    border: 1px solid #424242;
    width: 100%;
    margin: 10px;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 1em;
    background-color: #ffffff;
    color: #333333;
    cursor: pointer;
}

select:focus {
    border-color: #00a9e0;
    outline: none;
}

.error {
    color: var(--fit-red);
    font-size: 0.9em;
    margin-top: 5px;
}

.rejected {
    background-color: lightcoral;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
}

.completed {
    background-color: green;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
}

.accepted {
    background-color: darkseagreen;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
}

.pending {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
}
