body {
    font-family: Arial;
    background-color: #f0f0f0;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

/*.container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    margin: 20px;*/
/*}*/

h1 {
    color: #00a9e0;
    text-transform: uppercase;
}

p {
    font-size: 1.2em;
}

span {
    font-size: 1.2em;
}

button {
    background-color: #00a9e0;
    color: #ffffff;
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    border: none;
}

#terminate_all_sessions {
    background-color: #e4002b;
}

#terminate_all_sessions:hover {
    background-color: #bb0022;
}

.link {
    background-color: #e0e0e0;
    color: #00a9e0;
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}

.link:hover {
    background-color: #d0d0d0;
    transition: background-color 0.4s;
}

.container {
    text-align: center;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="file"],
textarea {
    border: 1px solid #424242;
    width: 80%;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
textarea:focus {
    border-color: #00a9e0;
    outline: none;
}

input[type="file"] {
    font-size: 1em;
}

textarea {
    min-height: 60px;
}