<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="../../static/css/table.css">
    <style>
        .error {
            color: red;
            font-size: 0.9em;
            margin-top: 5px;
            text-transform: uppercase;
        }
        .success {
            color: green;
            font-size: 0.9em;
            margin-top: 5px;
            text-transform: uppercase;
        }
        .you {
            background-color: lightgreen;
        }
    </style>
</head>
<body>
<div class="error" id="error"></div><br>
<div class="success" id="success"></div><br>
<table>
    <thead>
    <tr>
{#        <th>ID</th>#}
        <th>Username</th>
        <th>Name</th>
        <th>Role</th>
        <th>Active</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr id="user-{{ user.id }}" {% if user.id == admin.id %} class="you" {% endif %}>
{#            <td>{{ user.id }}</td>#}
            <td>{{ user.username }}</td>
            <td>{{ user.name }}</td>
            <td>
                <label>
                    <select class="role-select"
                            user_id="{{ user.id }}"
                            {% if user.id == admin.id or user.username == 'admin' %}disabled{% endif %}>
                        {% for role in roles %}
                            <option value="{{ role.value }}"
                                    {% if role == user.role %}selected{% endif %}>{{ role.value }}
                            </option>
                        {% endfor %}
                    </select>
                </label>
            </td>
            <td>
                <label>
                    <input type="checkbox"
                           class="active-checkbox"
                           user_id="{{ user.id }}"
                           {% if not user.disabled %}checked{% endif %}
                           {% if user.id == admin.id or user.username == 'admin' %}disabled{% endif %}>
                </label>
            </td>
            <td>
                <button class="delete-button"
                        user_id="{{ user.id }}"
                        {% if user.id == admin.id or user.username == 'admin'%}disabled{% endif %}>
                    delete
                </button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const activeCheckboxes = document.querySelectorAll('.active-checkbox');
        activeCheckboxes.forEach(function (activeCheckbox) {
            activeCheckbox.addEventListener('change', async function () {
                const userId = activeCheckbox.getAttribute('user_id');
                const active = !activeCheckbox.checked;

                const response = await fetch(`/admin/users/${userId}/state?active=${active}`, {
                    method: 'PATCH'
                });

                if (!response.ok) {
                    const error = await response.json();
                    document.getElementById('error').textContent = error.detail;
                } else {
                    document.getElementById('success').textContent = 'User state updated';
                    // Remove the success message after 3 seconds
                    setTimeout(function () {
                        document.getElementById('success').textContent = '';
                    }, 3000);
                }
            });
        });

        const roleSelects = document.querySelectorAll('.role-select');
        roleSelects.forEach(function (roleSelect) {
            roleSelect.addEventListener('change', async function () {
                const userId = roleSelect.getAttribute('user_id');
                const role = roleSelect.value;

                const response = await fetch(`/admin/users/${userId}/role?role=${role}`, {
                    method: 'PATCH'
                });

                if (!response.ok) {
                    const error = await response.json();
                    document.getElementById('error').textContent = error.detail;
                } else {
                    document.getElementById('success').textContent = 'Role updated';
                    // Remove the success message after 3 seconds
                    setTimeout(function () {
                        document.getElementById('success').textContent = '';
                    }, 3000);
                }
            });
        });

        const deleteButtons = document.querySelectorAll('.delete-button');
        deleteButtons.forEach(function (deleteButton) {
            deleteButton.addEventListener('click', async function () {
                const userId = deleteButton.getAttribute('user_id');

                const response = await fetch(`/admin/users/${userId}`, {
                    method: 'DELETE'
                });

                if (response.ok) {
                    document.getElementById(`user-${userId}`).remove();
                    document.getElementById('success').textContent = 'User deleted';
                    // Remove the success message after 3 seconds
                    setTimeout(function () {
                        document.getElementById('success').textContent = '';
                    }, 3000);
                } else {
                    const error = await response.json();
                    document.getElementById('error').textContent = error.detail;
                }
            });
        });
    });

    // if row clicked, redirect to user profile
    document.addEventListener('click', function (event) {
        if (event.target.tagName === 'TD') {
            const userId = event.target.parentElement.getAttribute('id').split('-')[1];
            {#window.location.href = `/admin/users/${userId}`;#}
            // todo
        }
    });
</script>
</html>