<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Treatment</title>
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="../../static/css/vertical_forms.css">
    <link rel="stylesheet" href="../../static/css/horizontal_forms.css">
</head>
<body>
    <h1>New Treatment For Animal: {{ animal.name }}</h1>
    <div class="form">
        <form id="treatment_form">
            <div class="container">
                <label for="description">Description:</label><br>
                <textarea name="description" id="description" required></textarea><br><br>
            </div>
            <div class="container">
                <label for="date">Date:</label>
                <input type="date" id="date" name="date" required><br><br>
            </div>
            <div class="container">
                <button type="submit">Add Treatment</button>
            </div>
        </form>
    </div>
    <div class="container">
        <a href="/animals/{{ animal.id }}/profile" class="link" style="padding-top: 10px">Back to Animal Profile</a>
    </div>

    <script>
        const animalId = {{ animal.id }};
        const treatmentForm = document.getElementById('treatment_form');

        treatmentForm.addEventListener('submit', async function(event) {
            event.preventDefault();

            const formData = new FormData(treatmentForm);

            const response = await fetch(`/vet/new_treatment/${animalId}`, {
                method: 'POST',
                body: formData
            });

            if (response.ok) {
                window.location.href = `/animals/${animalId}/profile`;
            } else {
                alert("Error: Could not submit treatment.");
            }
        });
    </script>
</body>
</html>