{% set title='request details' %}
{% extends 'base.html' %}
{% block content %}
    <p><strong>Request ID:</strong> {{ vet_request.id }}</p>
    <p><strong>Animal:</strong>
        <a href="/animals/{{ vet_request.animal.id }}/profile" class="link">
            {{ vet_request.animal.name }}
        </a>
    </p>
    <p><strong>Requested By:</strong> {{ vet_request.user.name }}</p>
    <p><strong>Date:</strong> {{ vet_request.date.strftime('%Y-%m-%d %H:%M') }}</p>
    <p><strong>Description:</strong> {{ vet_request.description }}</p>
    <p><strong>Status:</strong> <span id="status">{{ vet_request.status.value }}</span></p>


    {% if vet_request.status.value == "pending" %}
        <button id="accept-btn">Accept Request</button>
        <button id="complete-btn">Complete Request</button>
    {% endif %}

    {% if vet_request.status.value == "accepted" %}
        <button id="complete-btn">Complete Request</button>
    {% endif %}

    <div class="container">
        <a href="/vet/requests" class="link">Back to Vet Requests</a>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        const requestId = {{ vet_request.id }};
    </script>
    <script src="{{ url_for('static', path='js/vet/vet_request_details.js') }}"></script>
{% endblock %}
