<header class="header">
    <div class="header-left">
        {% if title != 'home' %}
        <button class="header-back-btn" id="header-back-btn" onclick=
                "history.back();localStorage.setItem('gotByBack', 'true');"
        >Back</button>
        {% endif %}
    </div>
    <div class="header-center">
        <h1>{{ title | upper }}</h1>
    </div>
    <div class="header-right">
        <div class="header-dropdown-menu">
            <button class="header-dropdown-btn">&#9776;</button>
            <div class="header-dropdown-content">
                {% if user and (not user.is_registered or user.is_admin) %}
                    <a href="/dashboard" class="link">Dashboard</a>
                {% endif %}
                <a href="/" class="link">Home</a>
                <a href="/animals" class="link">Animals</a>
                {% if not user %}
                    <a href="/user/signup" class="link">Signup</a>
                    <a href="/user/signin" class="link">Signin</a>
                {% endif %}
                {% if user %}
                    <a href="/user/profile" class="link">Profile</a>
                    <button class="link logout logout-this" style="width: calc(100% - 20px)">Logout</button>
                {% endif %}
            </div>
        </div>
    </div>
</header>