{% set title='animals' %}
{% extends 'base.html' %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', path='css/table.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='css/horizontal_form.css') }}">
{% endblock %}
{% block content %}
{% if user and user.is_staff and page == 1 %}
<form class="horizontal-form">
    <div class="horizontal-form-top">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="species">Species:</label>
        <input type="text" id="species" name="species" required>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required><br>
    </div>
    <div class="horizontal-form-bottom">
        <label for="description">Description:</label><br>
        <textarea id="description" name="description" required></textarea><br>
    </div>
    <div class="horizontal-form-bottom">
        <label for="photo">Photo:</label><br>
        <input type="file" id="photo" name="photo"><br>
    </div>
    <button type="submit">Add</button>
</form>
{% endif %}
{% set ns = namespace(found=0) %}
{% if animals %}
<table style="min-width: 1000px">
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Description</th>
        <th>Photo</th>
    </tr>
    </thead>
    <tbody>
    {% for animal in animals %}
    {% if not animal.hidden or (user != None and user.is_staff) %}
    <tr id="{{ animal.id }}" {% if animal.hidden %} class="hidden-animal" {% endif %}>
        <td>{{ animal.name }}</td>
        <td>{{ animal.age }}</td>
        <td>{{ animal.description[:(1+animal.description.find('.')) if animal.description.find('.') > 0 else None] }}</td>
        <td><img src="/animals/{{animal.id}}/photo" alt="{{ animal.name }}" width="100"></td>
    </tr>
    {% set ns.found = 1 %}
    {% endif %}
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% if ns.found == 0 %}
<p>No animals found.</p>
{% endif %}
{% if pages > 1 %}
<div>
    {% if page > 1 %}
    <a href="/animals?page={{ page - 1 }}" class="link" id="prev_page">Prev</a>
    {% endif %}
    <span>Page {{ page }} of {{ pages }}</span>
    {% if page < pages %}
    <a href="/animals?page={{ page + 1 }}" class="link" id="next_page">Next</a>
    {% endif %}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{% if user and user.is_staff %}
    <script src="{{ url_for('static', path='js/animal/animals_staff.js') }}"></script>
{% endif %}
    <script src="{{ url_for('static', path='js/animal/animals_all.js') }}"></script>
{% endblock %}