<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/table.css">
    <link rel="stylesheet" href="../static/css/horizontal_forms.css">
</head>
<body>
<h1>Animals</h1>
{% if user != None %}
{% if user.is_staff and page == 1 %}
<form class="horizontal-form">
    <div class="horizontal-form-top">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="species">Species:</label>
        <input type="text" id="species" name="species" required>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required><br>
    </div>
    <div class="horizontal-form-bottom">
        <label for="description">Description:</label><br>
        <textarea id="description" name="description" required></textarea><br>
    </div>
    <div class="horizontal-form-bottom">
        <label for="photo">Photo:</label><br>
        <input type="file" id="photo" name="photo"><br>
    </div>
    <button type="submit">Add</button>
</form>
{% endif %}
{% endif %}
{% if animals %}
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Species</th>
        <th>Age</th>
        <th>Description</th>
        <th>Photo</th>
    </tr>
    </thead>
    <tbody>
    {% for animal in animals %}
    <tr>
        <td>{{ animal.id }}</td>
        <td>{{ animal.name }}</td>
        <td>{{ animal.species }}</td>
        <td>{{ animal.age }}</td>
        <td>{{ animal.description }}</td>
        <td><img src="/animals/{{animal.id}}/photo" alt="{{ animal.name }}" width="100"></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No animals found.</p>
{% endif %}
{% if pages > 1 %}
<div>
    {% if page > 1 %}
    <a href="/animals?page={{ page - 1 }}" id="prev_page">Prev</a>
    {% endif %}
    <span>Page {{ page }} of {{ pages }}</span>
    {% if page < pages %}
    <a href="/animals?page={{ page + 1 }}" id="next_page">Next</a>
    {% endif %}
</div>
{% endif %}
</body>
{% if user != None %}
{% if user.role.value == 'staff' or user.role.value == 'admin' %}
<script>
    const form = document.querySelector('form');

    form.addEventListener('submit', async function (event) {
        event.preventDefault();

        const formData = new FormData(form);

        // if no file is selected, remove the photo field
        if (formData.get('photo').size === 0) {
            formData.delete('photo');
        }

        // send with form data content type
        const response = await fetch('/staff/animals/new', {
            method: 'POST',
            body: formData
        });

        if (response.ok && response.status === 201) {
           window.location.reload();
        }
    });
</script>
{% endif %}
{% endif %}
<script>
    // keyboard arrow navigation
    document.addEventListener('keydown', function (event) {
        if (event.key === 'ArrowLeft' && document.getElementById('prev_page')) {
            document.getElementById('prev_page').click();
        } else if (event.key === 'ArrowRight' && document.getElementById('next_page')) {
            document.getElementById('next_page').click();
        }
    });
</script>
</html>