<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
    <h1>Database Error</h1>
    <p>There was an error connecting to the database.</p>
    <p>Error message:</p>
    <blockquote>{{ error | string }}</blockquote>
    <h2>Server will be reloaded in 1 minute!</h2>
    <p>If problem not fixed after reload, please contact Kirill Shchetiniuk, e-mail: <a href= "mailto: kirill.shchetiniuk@gmail.com"> kirill.shchetiniuk@gmail.com </a>, vut-id: 250792</p>
</body>
</html>