{% set title = "home" %}
{% extends 'base.html' %}
{% block content %}
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec pur
us. Donec euismod, nunc id lacinia ultricies, nunc nunc fermentum nunc,
nec fermentum nunc nunc fermentum nunc, nec fermentum nunc nunc
fermentum nunc, nec fermentum nunc nunc fermentum nunc, nec fermentum
nunc nunc fermentum nunc, nec fermentum nunc nunc fermentum nunc, nec
fermentum nunc nunc fermentum nunc, nec fermentum nunc nunc fermentum
{% endblock %}