<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animal Shelter</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <h1>Animal Shelter</h1>
    <a href="/animals" class="link">Animals</a><br>
    {% if not user %}
    <a href="/user/signup" class="link">Signup here</a><br>
    <a href="/user/signin" class="link">Signin here</a><br>
    {% else %}
    <a href="/user/profile" class="link">Profile</a><br>
    <button id="logout" class="link">Logout</button>
    {% endif %}
</body>
{% if user %}
<script src="../static/logout.js"></script>
{% endif %}
</html>