{% set title='password change' %}
{% extends 'base.html' %}
{% block styles %}
    <link rel="stylesheet" href="../../static/css/vertical_form.css">
{% endblock %}
{% block content %}
    <form id="change-password-form" class="vertical-form">
        <label for="old_password">Old password</label>
        <input type="password" id="old_password" name="old_password" required>
        <label for="new_password">New password</label>
        <input type="password" id="new_password" name="new_password" required>
        <label for="confirm_password">Confirm password</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
        <div class="error" id="error" style="color: var(--fit-red)"></div>
        <div class="success" id="success" style="color: #28a745"></div>
        <button type="submit">change password</button>
        <button type="button" onclick="window.location.href='/user/profile'" style="background-color: var(--fit-red)">cancel</button>
    </form>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', path='change_password.js') }}"></script>
{% endblock %}