{% set title='signup' %}
{% extends 'base.html' %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/vertical_form.css') }}">
{% endblock %}
{% block content %}
    <h1>Create new user</h1>
    <form id="registerForm" class="vertical-form">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>

        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
        <br>

        <div class="error" id="errorMessages"></div><br>

        <button type="submit">submit</button>
    </form>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', path='js/signup.js') }}"></script>
{% endblock %}
