{% set title='volunteer application' %}

{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/vertical_form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/volunteer_application.css') }}">
{% endblock %}

{% block content %}
    {% if not application %}
    <div class="main-container">
        <span>
            You have not submitted a volunteer application. If you would like to volunteer, please fill out the form below.
            Write a brief description of why you would like to volunteer and what you hope to achieve. We will review your
            application and get back to you as soon as possible. Thank you!
        </span>
        <form id="application_form">
            <label for="description">Description:</label><br>
            <textarea name="description" id="description" cols="30" rows="10" required></textarea><br>
            <button type="submit">Submit</button>
        </form>
    </div>
    {% else %}
    <div class="main-container">
        {% if application.status.value == 'pending' %}
        <span>Your volunteer application has been submitted. We will review your application and get back to you as soon as possible. Thank you!</span>
        {% elif application.status.value == 'accepted' %}
        <span>Your volunteer application has been accepted. We look forward to working with you!</span>
        {% elif application.status.value == 'rejected' %}
        <span>Your volunteer application has been rejected. We appreciate your interest in volunteering with us.</span>
        {% endif %}
        <div class="centered-content">
            <p id="description">{{ application.message }}</p>
            <p class="{{ application.status.value }}">STATUS: {{ application.status.value | upper }}</p>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block scripts %}
{% if not application %}
<script src="{{ url_for('static', path='js/volunteer/application.js') }}"></script>
{% endif %}
{% endblock %}